.footer{

  &__top{
    justify-content: space-between !important;
  }

  &__text{
    transition: 1s;
  }

  
}

input{
  outline: none;
}

.hr{
  height: 3px;
  width: 100% !important;
background-color: #ddd !important;
}

.footer__text:hover{
color: gold;
cursor: pointer;
}

